{% extends "base.html" %}
{% block title %}
{{ article.show }} {{ article.title }} (from {{ SITENAME }})
{% endblock title %}
{% block bodytag %}
<body class="container-sidebar">
{% endblock bodytag %}

{% block content %}

<main id="content">
	<section class="podcast-episode-small">
		{% if article.category.name == 'Are You Not Entertained?' %}
			{% set LOGOSTEM = 'Entertained' %}
		{% elif article.category.name == 'Reacquainted' %}
			{% set LOGOSTEM = 'Reacquainted' %}
		{% elif article.category.name == 'The Golden Age' %}
			{% set LOGOSTEM = 'Golden Age' %}
		{% else %}
			{% set LOGOSTEM = 'Vox Duo Generic Show Art' %}
		{% endif %}
		<div class="podcast-artwork-small"><img src="{{ SITEURL }}/theme/media/{{ LOGOSTEM }} Logo preview.jpg" alt="Podcast Artwork for {{ article.category }}" class="podcast-preview-small" />
		</div>

		<div class="episode-meta">
			<span class="episode-podcast"><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>
			<span class="episode-title">{{ article.title|striptags|escape }}</span>
			<span class="reallymeta"><date class="episode-date">{{ article.date.strftime("%B %d, %Y") }}</date> &rarr; {{ article.duration|enjoyment }} minutes</span>
		</div>

		<div class="episode-description">
		{{ article.content }}
			<div class="player">
				<audio controls="controls" id="podcast_player" autoplay="false" loop="false" preload="metadata" src="{{ article.podcast }}" type="audo/mpeg">
					Your browser does not support the audio element.
				</audio>
				<p><a href="{{ article.podcast }}">Download the MP3</a></p>
			</div>
		</div>
	</section>
</main>

{% include "sidebar.html" %}

{% endblock content %}
