{# Define some useful variables #}
{% if category %}
    {% if category.name == "Are You Not Entertained?" %}
        {% set podcast = "Are You Not Entertained?" %}
    {% elif category.name == "Reacquainted" %}
        {% set podcast = "Reacquainted" %}
    {% elif category.name == "The Golden Age" %}
        {% set podcast = "The Golden Age" %}
    {% endif %}
{% elif article %}
    {% if article.category == "Are You Not Entertained?" %}
        {% set podcast = "Are You Not Entertained?" %}
    {% elif article.category == "Reacquainted" %}
        {% set podcast = "Reacquainted" %}
    {% elif article.category == "The Golden Age" %}
        {% set podcast = "The Golden Age" %}
    {% endif %}
{% endif %}
{% set LOGOSTEM = 'Vox Duo Generic Show Art' %}
{% if podcast == 'Are You Not Entertained?' %}
    {% set LOGOSTEM = 'Entertained' %}
    {% set APPLE_URL = 'https://itunes.apple.com/us/podcast/are-you-not-entertained/id1211555157' %}
    {% set OVERCAST_URL = 'https://overcast.fm/itunes1211555157/are-you-not-entertained' %}
    {% set PODCAST_RSS_URL = '{{SITEURL}}/entertained.rss' %}
{% elif podcast == "The Golden Age" %}
    {% set LOGOSTEM = 'Golden Age' %}
    {% set APPLE_URL = 'https://itunes.apple.com/us/podcast/the-golden-age/id1211555157' %}
    {% set OVERCAST_URL = 'https://overcast.fm/itunes1211555157/the-golden-age' %}
    {% set PODCAST_RSS_URL = '{{SITEURL}}/goldenage.rss' %}
{% elif podcast == "Reacquainted" %}
    {% set LOGOSTEM = 'Reacquainted' %}
    {% set APPLE_URL = 'https://itunes.apple.com/us/podcast/reacquainted/id1210150524' %}
    {% set OVERCAST_URL = 'https://overcast.fm/itunes1210150524/reacquainted' %}
    {% set PODCAST_RSS_URL = '%s/reacquainted.rss' % SITEURL %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1.0">
	<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
	<link rel="stylesheet" href="{{ SITEURL }}/theme/styles.css" type="text/css" media="screen" />
	{% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}

    {% block opengraph %}
    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="description" content="" />
    <meta name="twitter:site" content="@FromVoxDuo" />

    {% if category %}
    <meta property="og:title" content="{{ category.name }} Episodes" />
    <meta property="og:url" content="{{ SITEURL }}/{{ category.url }}" />
    <meta property="og:type" content="website" />
    <meta name="debug" content="{{ LOGOSTEM }}" />
    <meta property="og:image" content="{{ SITEURL }}/theme/media/{{ LOGOSTEM }} Logo preview.jpg" />
    <meta itemprop="name" content="{{ category.name }} Episodes" />    
    <meta itemprop="url" content="{{ SITEURL }}/{{ category.url }}" />

    {% elif article %}
    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:url" content="{{ article.url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ SITEURL }}/theme/media/{{ LOGOSTEM }} Logo preview.jpg" />
    <meta property="og:description" content="{{ article.summary }}" />
    <meta itemprop="name" content="{{ article.title }}" />    
    <meta itemprop="url" content="{{ article.url }}" />
    <meta itemprop="description" content="{{ article.summary }}" />

    {% else %}
    <meta property="og:title" content="Episodes" />
    <meta property="og:url" content="{{ SITEURL }}" />
    <meta property="og:type" content="website" />
    <meta itemprop="name" content="Episodes" />    
    <meta itemprop="url" content="{{ SITEURL }}" />
    {% endif %}
    {% endblock opengraph %}
	{%endblock head %}
</head>

{% block bodytag %}
<body class="container">
{% endblock bodytag %}

<header>
	<div id="header-image">
		<a href="{{ SITEURL }}" alt="Vox Duo"><img src="{{ SITEURL }}/theme/media/Site%20Logo.png" alt="Two crossed microphones" /></a>
	</div>
	<div id="header-title">	<!-- Exists to vertically center text next to the logo -->
		<p>{{ SITE_DESCRIPTION }}</p>
	</div>
</header>

{% block content %}
{% endblock content %}

<footer>
	<a href="{{ TWITTER_URL }}">Twitter</a>
</footer>

</body>

</html>