<aside>
	<div>
		{% if category %}
		<h2>{{ category}} </h2>
		{% endif %}
		<p>As film studios battle for our ever-decreasing attention spans, Adam and Joe watch their efforts and ask each other the titular question.</p>
		<p><a href="https://itunes.apple.com/us/podcast/are-you-not-entertained/id1211555157"><img src="{{ SITEURL }}/theme/media/subscribe/Listen_on_Apple_Podcasts.png" alt="Listen on Apple Podcasts." class="apple-podcasts-button" /></a></p>
		<p><a href="https://overcast.fm/itunes1211555157/are-you-not-entertained"><img src="{{ SITEURL }}/theme/media/subscribe/Get it on Overcast.jpg" alt="Get it on Overcast." class="overcast-button" /></a></p>
		<p><a href="https://voxduo.com/entertained?format=rss"><img src="{{ SITEURL }}/theme/media/subscribe/Get it on RSS.jpg" alt="Get it on RSS." class="rss-button" /></a></p>
	</div>
</aside>
